<!DOCTYPE html>
<html lang="en">

{%  include 'd-includes/head.html'%}

<body class="">
  <div class="wrapper">
    {% include 'd-includes/sidebar.html'%}
    <div class="main-panel">
      {% include 'd-includes/navbar.html' %}
      <div class="content">
        <div class="row">

        <div class="col-lg-3 col-md-6">
            <div class="card card-stats">
              <div class="card-body">
                <div class="row">
                  <div class="col-5">
                    <i class="tim-icons icon-spaceship"></i>
                    {% comment %} <i class="fa fa-inr" aria-hidden="true"></i> {% endcomment %}

                  </div>
                  <div class="col-7">
                    <div class="numbers">
                      <p class="card-category">Wallet</p>
                      <h3 class="card-title">0 INR</h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <hr>
                <div class="stats">
                  <i class="tim-icons icon-refresh-01"></i> Update Now
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="card card-stats">
              <div class="card-body">
                <div class="row">
                  <div class="col-5">
                    <div class="info-icon text-center icon-warning">
                    <i class="tim-icons icon-spaceship"></i>
                    </div>
                  </div>
                  <div class="col-7">
                    <div class="numbers">
                      <p class="card-category">Invest Value</p>
                      <h3 class="card-title">0 INR</h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <hr>
                <div class="stats">
                  <i class="tim-icons icon-refresh-01"></i> Update Now
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="card card-stats">
              <div class="card-body">
                <div class="row">
                  <div class="col-5">
                    <div class="info-icon text-center icon-warning">
                      <i class="tim-icons icon-spaceship"></i>
                    </div>
                  </div>
                  <div class="col-7">
                    <div class="numbers">
                      <p class="card-category">ROI Value</p>
                      <h3 class="card-title">0 INR</h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <hr>
                <div class="stats">
                  <i class="tim-icons icon-refresh-01"></i> Update Now
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-lg-3 col-md-6">
            <div class="card card-stats">
              <div class="card-body">
                <div class="row">
                  <div class="col-5">
                    <div class="info-icon text-center icon-warning">
                      <i class="tim-icons icon-spaceship"></i>
                    </div>
                  </div>
                  <div class="col-7">
                    <div class="numbers">
                      <p class="card-category">Payout Wallet</p>
                      <h3 class="card-title">0 INR</h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <hr>
                <div class="stats">
                  <i class="tim-icons icon-refresh-01"></i> Update Now
                </div>
              </div>
            </div>
          </div>

          

          
          
        </div>
      </div>
{% include 'd-includes/footer_mode.html' %}      
{% include 'd-includes/scripts.html' %}
</body>

</html>