{% load static %}
<!DOCTYPE html>
<html lang="en">

{% include 'd-includes/head.html' %}
<body class="">
  <div class="wrapper">
    {% include 'd-includes/sidebar.html' %}
    <div class="main-panel">
      {% include 'd-includes/navbar.html' %}
     
        <div class="content">

            <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header"><i class="fa fa-table"></i>Level Income</div>
            <div class="card-body">
              <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Sr.</th>
                        <th>Level</th>
                        <th>Total Earned ($)</th>
                    </tr>
                </thead>
                <tbody>
                                        <tr>
                        <td>1.</td>
                        <td><span class="badge badge-success shadow-success"><a href="level-wise-income?level=1" style="color: #FFF;">Level 1</a></span></td>
                        <td>4</td>
                    </tr>
                    
                                      <tr>
                        <td>2.</td>
                        <td><span class="badge badge-success shadow-success"><a href="level-wise-income?level=2" style="color: #FFF;">Level 2</a></span></td>
                        <td>3</td>
                    </tr>
                    
                                      <tr>
                        <td>3.</td>
                        <td><span class="badge badge-success shadow-success"><a href="level-wise-income?level=3" style="color: #FFF;">Level 3</a></span></td>
                        <td>3</td>
                    </tr>
                    
                                      <tr>
                        <td>4.</td>
                        <td><span class="badge badge-success shadow-success"><a href="level-wise-income?level=4" style="color: #FFF;">Level 4</a></span></td>
                        <td>0</td>
                    </tr>
                    
                                      <tr>
                        <td>5.</td>
                        <td><span class="badge badge-success shadow-success"><a href="level-wise-income?level=5" style="color: #FFF;">Level 5</a></span></td>
                        <td>0</td>
                    </tr>
                    
                                      <tr>
                        <td>6.</td>
                        <td><span class="badge badge-success shadow-success"><a href="level-wise-income?level=6" style="color: #FFF;">Level 6</a></span></td>
                        <td>0</td>
                    </tr>
                    
                                      <tr>
                        <td>7.</td>
                        <td><span class="badge badge-success shadow-success"><a href="level-wise-income?level=7" style="color: #FFF;">Level 7</a></span></td>
                        <td>0</td>
                    </tr>
                    
                                      <tr>
                        <td>8.</td>
                        <td><span class="badge badge-success shadow-success"><a href="level-wise-income?level=8" style="color: #FFF;">Level 8</a></span></td>
                        <td>0</td>
                    </tr>
                    
                                      <tr>
                        <td>9.</td>
                        <td><span class="badge badge-success shadow-success"><a href="level-wise-income?level=9" style="color: #FFF;">Level 9</a></span></td>
                        <td>0</td>
                    </tr>
                    
                                      <tr>
                        <td>10.</td>
                        <td><span class="badge badge-success shadow-success"><a href="level-wise-income?level=10" style="color: #FFF;">Level 10</a></span></td>
                        <td>0</td>
                    </tr>
                    
                                      <tr>
                        <td>11.</td>
                        <td><span class="badge badge-success shadow-success"><a href="level-wise-income?level=11" style="color: #FFF;">Level 11</a></span></td>
                        <td>0</td>
                    </tr>
                    
                                      <tr>
                        <td>12.</td>
                        <td><span class="badge badge-success shadow-success"><a href="level-wise-income?level=12" style="color: #FFF;">Level 12</a></span></td>
                        <td>0</td>
                    </tr>
                    
                                      <tr>
                        <td>13.</td>
                        <td><span class="badge badge-success shadow-success"><a href="level-wise-income?level=13" style="color: #FFF;">Level 13</a></span></td>
                        <td>0</td>
                    </tr>
                    
                                      <tr>
                        <td>14.</td>
                        <td><span class="badge badge-success shadow-success"><a href="level-wise-income?level=14" style="color: #FFF;">Level 14</a></span></td>
                        <td>0</td>
                    </tr>
                    
                                      <tr>
                        <td>15.</td>
                        <td><span class="badge badge-success shadow-success"><a href="level-wise-income?level=15" style="color: #FFF;">Level 15</a></span></td>
                        <td>0</td>
                    </tr>
                    
                                      <tr>
                        <td>16.</td>
                        <td><span class="badge badge-success shadow-success"><a href="level-wise-income?level=16" style="color: #FFF;">Level 16</a></span></td>
                        <td>0</td>
                    </tr>
                    
                                      <tr>
                        <td>17.</td>
                        <td><span class="badge badge-success shadow-success"><a href="level-wise-income?level=17" style="color: #FFF;">Level 17</a></span></td>
                        <td>0</td>
                    </tr>
                    
                                      <tr>
                        <td>18.</td>
                        <td><span class="badge badge-success shadow-success"><a href="level-wise-income?level=18" style="color: #FFF;">Level 18</a></span></td>
                        <td>0</td>
                    </tr>
                    
                                      <tr>
                        <td>19.</td>
                        <td><span class="badge badge-success shadow-success"><a href="level-wise-income?level=19" style="color: #FFF;">Level 19</a></span></td>
                        <td>0</td>
                    </tr>
                    
                                      <tr>
                        <td>20.</td>
                        <td><span class="badge badge-success shadow-success"><a href="level-wise-income?level=20" style="color: #FFF;">Level 20</a></span></td>
                        <td>0</td>
                    </tr>
                    
                                      <tr>
                        <td>21.</td>
                        <td><span class="badge badge-success shadow-success"><a href="level-wise-income?level=21" style="color: #FFF;">Level 21</a></span></td>
                        <td>0</td>
                    </tr>
                    
                                      <tr>
                        <td>22.</td>
                        <td><span class="badge badge-success shadow-success"><a href="level-wise-income?level=22" style="color: #FFF;">Level 22</a></span></td>
                        <td>0</td>
                    </tr>
                    
                                      <tr>
                        <td>23.</td>
                        <td><span class="badge badge-success shadow-success"><a href="level-wise-income?level=23" style="color: #FFF;">Level 23</a></span></td>
                        <td>0</td>
                    </tr>
                    
                                      <tr>
                        <td>24.</td>
                        <td><span class="badge badge-success shadow-success"><a href="level-wise-income?level=24" style="color: #FFF;">Level 24</a></span></td>
                        <td>0</td>
                    </tr>
                    
                                      <tr>
                        <td>25.</td>
                        <td><span class="badge badge-success shadow-success"><a href="level-wise-income?level=25" style="color: #FFF;">Level 25</a></span></td>
                        <td>0</td>
                    </tr>
                    
                                      <tr>
                        <td>26.</td>
                        <td><span class="badge badge-success shadow-success"><a href="level-wise-income?level=26" style="color: #FFF;">Level 26</a></span></td>
                        <td>0</td>
                    </tr>
                    
                                      <tr>
                        <td>27.</td>
                        <td><span class="badge badge-success shadow-success"><a href="level-wise-income?level=27" style="color: #FFF;">Level 27</a></span></td>
                        <td>0</td>
                    </tr>
                    
                                      <tr>
                        <td>28.</td>
                        <td><span class="badge badge-success shadow-success"><a href="level-wise-income?level=28" style="color: #FFF;">Level 28</a></span></td>
                        <td>0</td>
                    </tr>
                    
                                      <tr>
                        <td>29.</td>
                        <td><span class="badge badge-success shadow-success"><a href="level-wise-income?level=29" style="color: #FFF;">Level 29</a></span></td>
                        <td>0</td>
                    </tr>
                    
                                      <tr>
                        <td>30.</td>
                        <td><span class="badge badge-success shadow-success"><a href="level-wise-income?level=30" style="color: #FFF;">Level 30</a></span></td>
                        <td>0</td>
                    </tr>
                    
                                  </tbody>
            </table>
            </div>
            </div>
          </div>
        </div>
      </div>

        </div>

      {% include 'd-includes/footer_mode.html' %}
  {% include 'd-includes/scripts.html' %}
</body>

</html>