{% load static %}
<!DOCTYPE html>
<html lang="en">

{% include 'd-includes/head.html' %}
<body class="">
  <div class="wrapper">
    {% include 'd-includes/sidebar.html' %}
    <div class="main-panel">
      {% include 'd-includes/navbar.html' %}
     
        <div class="content">

            <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header"><i class="fa fa-table"></i>Prime Pool Income</div>
            <div class="card-body">
              <div class="table-responsive">
                              <table id="example" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Sr.</th>
                        <th>Pool</th>
                        <th>Approved Amount (INR)</th>
                        <th>Hold Amount (INR)</th>
                        <th>Transfer</th>
                    </tr>
                </thead>
                <tbody>
                  
                  
                    <tr>
                        <td>1</td>
                        <td><span class="badge badge-success shadow-success"><a href="level-pool-income?pool=1" style="color: #fff;">Label 1</a></span></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td><span class="badge badge-success shadow-success"><a href="level-pool-income?pool=2" style="color: #fff;">Label 2</a></span></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td><span class="badge badge-success shadow-success"><a href="level-pool-income?pool=3" style="color: #fff;">Label 3</a></span></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td><span class="badge badge-success shadow-success"><a href="level-pool-income?pool=4" style="color: #fff;">Label 4</a></span></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td><span class="badge badge-success shadow-success"><a href="level-pool-income?pool=5" style="color: #fff;">Label 5</a></span></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td><span class="badge badge-success shadow-success"><a href="level-pool-income?pool=6" style="color: #fff;">Label 6</a></span></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td><span class="badge badge-success shadow-success"><a href="level-pool-income?pool=7" style="color: #fff;"> Label 7</a></span></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    
                </tbody>
                
            </table>
            </div>
            </div>
          </div>
        </div>
      </div>

        </div>

      {% include 'd-includes/footer_mode.html' %}
  {% include 'd-includes/scripts.html' %}
</body>

</html>