<nav id="navbar-clone" class="navbar is-fixed is-dark">
    <div class="container">
        <!-- Brand -->
        <div class="navbar-brand">
            <a href="/" class="navbar-item">
                <img class="rotating" src="/static/assets/img/logo/krypton-gradient.svg" alt="">
                <span class="brand-name">Ocean</span>
            </a>
            <!-- Responsive toggle -->
            <span class="navbar-burger burger" data-target="cloneNavbarMenu">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>
        <!-- Menu -->
        <div id="cloneNavbarMenu" class="navbar-menu">
            {% if user.is_authenticated %}
            <div class="navbar-end">
                <div class="navbar-item is-nav-link">
                    <a class="is-centered-responsive" href="{% url 'dashbord' %}">
                        <img class="telegram" src="/static/assets/img/logo/telegram.svg" alt="">
                        Go to Dashboard
                    </a>
                </div>
                <div class="navbar-item">
                    <a href="{% url 'account_signup' %}" class="button k-button k-primary raised has-gradient slanted">
                        <span class="text">Logout</span>
                        <span class="front-gradient"></span>
                    </a>
                </div>
            </div>
            {% else %}
            <div class="navbar-end">
                <!-- Menu item -->
                <div class="navbar-item is-nav-link">
                    <a class="is-centered-responsive" href="/">Home</a>
                </div>
                <div class="navbar-item is-nav-link">
                    <a class="is-centered-responsive" href="{% url 'about' %}">About</a>
                </div>
                <div class="navbar-item is-nav-link">
                    <a class="is-centered-responsive" href="#">Startup</a>
                </div>
                {% comment %} <div class="navbar-item is-nav-link">
                    <a class="is-centered-responsive" href="#">
                        <img class="telegram" src="/static/assets/img/logo/telegram.svg" alt="">
                        Telegram
                    </a>
                </div> {% endcomment %}
                <div class="navbar-item is-nav-link">
                    <a class="is-centered-responsive" href="{% url 'account_login' %}">Login</a>
                </div>
                <div class="navbar-item">
                    <a href="{% url 'account_signup' %}" class="button k-button k-primary raised has-gradient slanted">
                        <span class="text">Register</span>
                        <span class="front-gradient"></span>
                    </a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</nav>
<!-- /Cloned navbar -->
<!-- Static navbar -->
<!-- Static navbar -->
<nav class="navbar is-light">
    <div class="container">
        <!-- Brand -->
        <div class="navbar-brand">
            <a href="/" class="navbar-item">
                <img class="rotating" src="/static/assets/img/logo/krypton.svg" alt="">
                <span class="brand-name">Ocean</span>
            </a>
            <!-- Responsive toggle -->
            <span class="navbar-burger burger" data-target="navbarMenu">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>
        <!-- Menu -->
        <div id="navbarMenu" class="navbar-menu light-menu">
            {% if user.is_authenticated %}
            <div class="navbar-end">
                <div class="navbar-item is-nav-link">
                    <a class="is-centered-responsive" href="{% url 'dashbord' %}">
                        <img class="telegram" src="/static/assets/img/logo/telegram.svg" alt="">
                        Go to Dashboard
                    </a>
                </div>
                <div class="navbar-item">
                    <a href="{% url 'account_signup' %}" class="button k-button k-primary raised has-gradient slanted">
                        <span class="text">Logout</span>
                        <span class="front-gradient"></span>
                    </a>
                </div>
            </div>
            {% else %}
            <div class="navbar-end">
                <!-- Menu item -->
                <div class="navbar-item is-nav-link">
                    <a class="is-centered-responsive" href="/">Home</a>
                </div>
                <div class="navbar-item is-nav-link">
                    <a class="is-centered-responsive" href="{% url 'about' %}">About</a>
                </div>
                <div class="navbar-item is-nav-link">
                    <a class="is-centered-responsive" href="#">Startup</a>
                </div>
                
                <div class="navbar-item is-nav-link">
                    <a class="is-centered-responsive" href="{% url 'account_login' %}">Login</a>
                </div>
                <div class="navbar-item">
                    <a href="{% url 'account_signup' %}" class="button k-button k-primary raised has-gradient slanted">
                        <span class="text">Register</span>
                        <span class="front-gradient"></span>
                    </a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</nav>
<!-- /Static navbar -->